@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect size */
  }
  